*pyc
.vscode/settings.json
test.ipynb
arcane.egg-info
arcane.egg-info
arcane.egg-info
arcane.egg-info
build
dist
test/output
test/batch_input
test/batch.par
test/line_.in
test/linelist_.in
test/model_.in
test/moog_.log
test/moog_.std
test/moog_.sum
test/img
test/junk
test/vald
output
.venv
.gitignore